.root { -fx-background-color: rgba(255,255,255,0.2); -fx-text-fill: #000000; }
.list-cell:selected { -fx-background-color: rgba(0,128,255,0.3); }
.tab-pane .tab-header-background { -fx-background-color: rgba(255,255,255,0.3); }
