.root {
    -fx-base: #2B2B2B;
    -fx-background: #3C3F41;
    -fx-text-fill: #FFFFFF;
}
.tool-bar {
    -fx-background-color: linear-gradient(#3C3F41, #2B2B2B);
}
.status-bar {
    -fx-background-color: #333;
    -fx-padding: 5;
}
.tab-pane .tab-header-background {
    -fx-background-color: #444;
}
.flow-tile-cell {
    -fx-background-color: #3C3F41;
}
