.root {
    -fx-base: rgba(255,255,255,0.7);
    -fx-background: rgba(255,255,255,0.3);
    -fx-text-fill: #000;
}
.tool-bar {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-border-color: rgba(0,0,0,0.1);
}
.status-bar {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-padding: 5;
}
.tab-pane .tab-header-background {
    -fx-background-color: rgba(255,255,255,0.4);
}
.flow-tile-cell {
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5,0,0,2);
}
