/* ============================
   Explorer Navigation Pane
   ============================ */

.tree-view {
    -fx-background-color: -fx-bg-1;
    -fx-border-color: -fx-border-color-1;
    -fx-padding: 6 4 6 4;
}

.tree-cell {
    -fx-background-color: transparent;
    -fx-padding: 4 6 4 8;
    -fx-font-size: 13px;
}

.tree-cell:hover {
    -fx-background-color: #e5f1fb;
}

.tree-cell:selected {
    -fx-background-color: #d4e7fb;
    -fx-border-color: #a8c8f6;
    -fx-border-width: 1;
}

.tree-cell:focused {
    -fx-background-insets: 0;
    -fx-background-color: #cfe4ff;
}

.tree-disclosure-node > .arrow {
    -fx-padding: 0 4 0 2;
}
