.properties-sidebar-root {
    -fx-padding: 16;
    -fx-background-color: -color-surface-1;
    -fx-border-color: -color-border;
    -fx-border-width: 0 0 0 1;
}

.prop-title {
    -fx-text-fill: -color-accent;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.prop-value {
    -fx-text-fill: -color-fg;
    -fx-font-size: 14px;
}